<?xml version="1.0"?>
<config>
        <modules>
                <magentix_Brochure>
                        <version>1.0</version>
                </magentix_Brochure>
        </modules>
        <frontend>
                <routers>
                        <brochure>
                                <use>standard</use>
                                <args>
                                        <module>Magentix_Brochure</module>
                                        <frontName>brochure</frontName>
                                </args>
                        </brochure>
                </routers>
                <translate>
                        <modules>
                                <magentix_Brochure>
                                    <files>
                                        <default>Magentix_Brochure.csv</default>
                                    </files>
                                </magentix_Brochure>
                        </modules>
                </translate>
                <layout>
                    <updates>
                        <brochure>
                            <file>brochure.xml</file>
                        </brochure>
                    </updates>
                </layout>
        </frontend>
        <global>
                <resources>
                    <brochure_setup>
                        <setup>
                            <module>Mage_Brochure</module>
                        </setup>
                        <connection>
                            <use>core_setup</use>
                        </connection>
                    </brochure_setup>
                </resources>
                <helpers>
                    <brochure>
                        <class>Magentix_Brochure_Helper</class>
                    </brochure>
                </helpers>
                <template>
                    <email>
                        <brochure_email_email_template translate="label" module="brochure">
                            <label>Brochure Form</label>
                            <file>brochure_form.html</file>
                            <type>text</type>
                        </brochure_email_email_template>
                    </email>
                </template>
        </global>
        <adminhtml>
                <translate>
                    <modules>
                        <magentix_Brochure>
                            <files>
                                <default>Magentix_Brochure.csv</default>
                            </files>
                        </magentix_Brochure>
                    </modules>
                </translate>
                <acl>
                    <resources>
                        <admin>
                            <children>
                                <system>
                                    <children>
                                        <config>
                                            <children>
                                                <brochure translate="title" module="brochure">
                                                    <title>Brochure Section</title>
                                                </brochure>
                                            </children>
                                        </config>
                                    </children>
                                </system>
                            </children>
                        </admin>
                </resources>
                </acl>
        </adminhtml>
        <default>
                <brochure>
                    <brochure>
                        <enabled>1</enabled>
                    </brochure>
                    <email>
                        <recipient_email><!&#91;CDATA&#91;hello@example.com&#93;&#93;></recipient_email>
                        <sender_email_identity>custom2</sender_email_identity>
                        <email_template>brochure_email_email_template</email_template>
                    </email>
                </brochure>
        </default>
</config>